<label>Enter Number of Security Levels</label>
<div class="input-group">
  <input #numberOfLevels type="number" class="form-control">
  <span class="input-group-btn">
    <button class="btn btn-success btn-raised" type="button" (click)="setSecurityLevel(numberOfLevels.value);">OK</button>
  </span>
</div>

<div class="form-group">
  <label> Select Security Level </label>
  <select #lvlSelect class="form-control" (click)="setSelectedLvl(lvlSelect.value)">
    <option  [value]="levl" *ngFor = "let levl of securityLvls;"  >{{levl}}</option>
  </select>
</div>

<input #fileUpload ngFileSelect type="file" webkitdirectory directory multiple  (change)="beforeFileUpload($event)" hidden="true">
<div class="input-group" [ngClass]="{uploading: uploadFileInProgress}">
  <input #inputText type="text" value= {{fileName}} class="form-control" readonly>
  <span class="input-group-btn">
      <button class="btn btn-success btn-raised" type="button" [disabled]="!selectedLvl" (click)="bringFileSelector();">Browse</button>
  </span>
</div>

<ba-card title="INITIAL DOCUMENTS" baCardClass="medium-card with-scroll table-panel">
  <div class="horizontal-scroll">
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let document of documents" class="no-top-border">
          <td style="text-align: left">
           {{ document.file.name }}
          </td>
          <td >
            {{document.securityLevel}}
          </td>
          <td >
            <button type="button" class="btn btn btn-danger btn-icon" (click)="removeDocument(document)"><i class="ion-close-round"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ba-card>


<div class="button-wrapper" align="right">
  <button type="button" class="btn btn-success btn-raised"  (click)="startFileupload()">Submit</button>
</div>

<modal #modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">{{popupTitle}}</h4>
  </modal-header>
  <modal-body>
    {{popupMessage}}
  </modal-body>
  <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>
